#item-container {
    display: flex;
	padding-top: 3rem;
	/* max-width: 80%; */
    flex-wrap: wrap;
}

.card {
	width: 15rem;
	/* height: 10rem; */
	max-width: 18rem;
	word-wrap: break-word;
	border-radius: 20px;
	border: 1px solid rgb(212, 186, 158, 0.7);
	margin: 0.95rem;
    background-color: #f5f5f5;
}

img {
	width: 100%;
	object-fit: cover;
	object-position: bottom center ;
}

.img-card {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	height: 15rem;
	max-height: 18rem;
}

.text-card {
	padding: 1rem;
}

.text-card > p.title {
	font-size: 1.65rem;
	margin-bottom: 0.75rem;
}

.text-card > p.price {
    font-size: 1.2rem;
    color: #58594D;
}